<div class="background hidden-xs"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="css-banner">
      <img src="/assets/banner.png" class="hidden-xs" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
      <img src="/assets/banner.png" class="visible-xs" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>About</h1>
    <p>At Choo's Sweet Stuff, we like to focus on the taste and presentation of our products. Our handcrafted sweets are baked using natural ingredients in small batches to ensure consisted flavor and quality. We're here to bake sweet stuff for you.</p>
  </div>
  <div class="col-md-4">
    <h1>The Sweet Stuff</h1>
    <p>We like to keep things simple to make sure we get it right. We bake cookies, cakes, cupcakes, and even macarons! We can gift wrap them for birthdays, weddings, and any other special occasion!</p>
  </div>
  <div class="col-md-4">
    <h1>Contact</h1>
    <p>Get in touch for a custom order!</p>
    <p>Questions/Suggestion?</p>
    <ul>
      <li><a href="mailto:jennifer@choossweetstuff.com"><i class="fa fa-fw fa-envelope"></i> jennifer@choossweetstuff.com</a></li>
      <li><a href="https://instagram.com/choossweetstuff"><i class="fa fa-fw fa-instagram"></i> @choossweetstuff</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="footer">&copy; <%= Time.new.year %></p>
  </div>
</div>
