<div class="background hidden-xs"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="css-banner hidden-xs">
      <img src="/assets/banner.png" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
    </div>
    <div class="css-banner visible-xs">
      <img src="/assets/banner.png" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>About</h1>
    <p>At Choo's Sweet Stuff, the taste and presentation of our treats are the primary focus. Our handcrafted sweets are baked using natural ingredients in small batches to guarantee consistent flavor and quality. We're here to bake sweet stuff for you.</p>
  </div>
  <div class="col-md-4">
    <h1>The Sweet Stuff</h1>
    <p>By keeping things simple, we ensure we get it right everytime. We bake cookies, cakes, cupcakes, and macarons! Available for gift wrap on birthdays, weddings, or any other special occasions!</p>
  </div>
  <div class="col-md-4">
    <h1>Contact</h1>
    <p>Get in touch for a custom order!</p>
    <p>Questions/Suggestion?</p>
    <ul>
      <li><a href="mailto:jennifer@choossweetstuff.com"><i class="fa fa-fw fa-envelope"></i> jennifer@choossweetstuff.com</a></li>
      <li><a href="https://instagram.com/choossweetstuff"><i class="fa fa-fw fa-instagram"></i> @choossweetstuff</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="footer">&copy; <%= Time.new.year %></p>
  </div>
</div>
