<div class="background hidden-xs"></div>
<div class="row">
  <div class="col-xs-12">
    <div class="css-banner">
      <img src="/assets/banner.png" class="hidden-xs" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
      <img src="/assets/banner.png" class="visible-xs" alt="Choo's Sweet Stuff" title="Choo's Sweet Stuff">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>about</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a augue ac nisi facilisis laoreet. Nullam ultricies diam iaculis velit condimentum imperdiet. Nam nibh risus, tincidunt et sodales nec, facilisis ac nibh. Nulla accumsan convallis diam eget pulvinar.</p>
  </div>
  <div class="col-md-4">
    <h1>what we bake</h1>
    <p>
      All sorts of wonderful, tasty treats, like
      <a href="http://instagram.com/p/h1w9NlEqxf/">cupcakes</a>,
      <a href="http://instagram.com/p/hP3XX1Eq85/">cookies</a>,
      <a href="http://instagram.com/p/hP2oaVEq8S/">cakes</a>,
      <a href="http://instagram.com/p/hO0Cchkq9H/">donuts</a>,
      <a href="http://instagram.com/p/hPDdBsEq15/">more cookies</a>,
      and more!
    </p>
    <p>
    Get <a href="mailto:jennifer@choossweetstuff.com">in touch</a> for a custom order!
      </p>
  </div>
  <div class="col-md-4">
    <h1>reaching out</h1>
    <p>Want to order some cupcakes? Sing our praises or offer some suggestions? Drop us a line!</p>
    <ul>
      <li><a href="mailto:jennifer@choossweetstuff.com"><i class="fa fa-fw fa-envelope"></i> jennifer@choossweetstuff.com</a></li>
      <li><a href="https://instagram.com/choossweetstuff"><i class="fa fa-fw fa-instagram"></i> @choossweetstuff</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="footer">&copy; <%= Time.new.year %></p>
  </div>
</div>
